# Virtual Environment
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.mypy_cache/
.dmypy.json
dmypy.json
.pyre/
.pytype/
cython_debug/
build/
dist/
*.egg-info/
.DS_Store
vault.dat
.vscode/
